<html>
  <head>
    <title>Дуже важлива аплікація</title>
  </head>
<body>

<h2>help meee</h2>

<% if (user) { %>
    <h1>Hello <%= user %></h1>
<% } else { %>
    <h1>Hello Guest</h1>
<% } %>

</body>
</html>